<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.8" />
  </system.web>

  <system.webServer>

    
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, OPTIONS" />
        <add name="Access-Control-Allow-Headers" value="Content-Type" />
      </customHeaders>
    </httpProtocol>
    
    <!-- Static Content configuration (Add all necessary MIME types) -->
    <staticContent>
      <mimeMap fileExtension=".js" mimeType="application/javascript" />
      <mimeMap fileExtension=".css" mimeType="text/css" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".html" mimeType="text/html" />
      <mimeMap fileExtension=".map" mimeType="application/json" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <!-- Add more MIME types if necessary -->
    </staticContent>

    <!-- Add ASP.NET Core module to the IIS pipeline -->
    <modules>
      <add name="AspNetCoreModuleV2" type="Microsoft.AspNetCore.Server.IISIntegration.AspNetCoreModuleV2" />
    </modules>

    <!-- Configuring the default route for static files (Swagger UI) -->
    <handlers>
      <add name="aspNetCore" path="*" verb="*" type="Microsoft.AspNetCore.Server.IISIntegration.AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>

  </system.webServer>
</configuration>
